.prods {
    display: grid;
    grid-template-columns: 410px 410px 410px;
    max-width: 1100px;
    margin: auto;
}

.prod__background {
    background-color: #8B9E8A;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;
    height: 430px;
    padding: 30px;
    margin-bottom: 50px;
}

.prod__img {
    width: 180px;
    margin: 0 auto;
}

.prod__description {
    font-family: 'Arial Rounded MT';
    font-size: 18px;
    color: #FFF;
}

.prod__divider {
    display: flex;
    justify-content: space-between;
}

.prod__price {
    font-family: 'Arial Rounded MT';
    color: #FFF;
}

.prod__btn {
    font-family: 'Arial Rounded MT';
    text-decoration: none;
    color: #8B9E8A;
    background-color: #FBE1D0;
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
}