<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order details</title>
</head>
<body>
<main>
    <h2>Your order</h2>

    <div class="order__background">
        .order
        <div class="order__container">
            <img src="../../imgs/librarian.jpg" alt="Librarian tote bag" class="order__img">
            <p class="order__title">Lorem ipsum dolor sit amet</p>
            <span class="order__price">20€</span>
        </div>

        <div class="order__container">
            <img src="../../imgs/black.jpg" alt="Black tote bag" class="order__img">
            <p class="order__title">Lorem ipsum dolor sit amet</p>
            <span class="order__price">23€</span>
        </div>

        <div class="order__container">
            <img src="../../imgs/pride.jpg" alt="Pride tote bag" class="order__img">
            <p class="order__title">Lorem ipsum dolor sit amet</p>
            <span class="order__price">25€</span>
        </div>

        <p class="total">Total:</p>
        <span class="price">68€</span>
    </div>
</main>
</body>
</html>